[Unit]
Description=Caza AMD HP 12:00 y 18:00 (FASE A)

[Timer]
OnCalendar=*-*-* 12,18:00:00
Persistent=true
Unit=caza-amd-hp.service

[Install]
WantedBy=timers.target
